.email {
  a {
    border-left: 5px solid $ultra-light-grey;
    display: block;
    border-bottom: $light-grey 1px solid;
    padding: $large-padding $large-padding $large-padding $large-padding + 15px;

    &.-active {
      border-left:5px solid $indicator-color;
      outline: none;
      background: lighten($indicator-color, 45%);
    }
  }

  .-header {
    @include display(flex);
    vertical-align: middle;
    font-size: $large-padding;
    position: relative;
    margin-left: -17px;
    margin-bottom: $small-padding;
  }

  .-subject {
    font-weight: bold;
  }

  .indicator {
    @include transition(all .3s);
    @include transform(translateY(-50%));
    background: $indicator-color;
    border-radius: 50%;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;

    &.-unread {
      width: 10px;
      height: 10px;
    }
  }

  .-subject {
    @include flex(1);
    padding-left: 15px;
  }

  .-sender {
    font-weight: $bold;
    color: lighten($text-color, 30%);
  }
}
