.email-viewer {
  background: $email-viewer-bg;

  input,
  textarea,
  label,
  .-attach {
    display: none;
  }

  header {
    @include display(flex);
    padding: $large-padding;
    background: $blue-des;
    color: $white;
    position: relative;
    height: 37px;

    input {
      @include placeholder {
        color: #eee;
      }

      width: 100%;
    }

    h1 {
      @include flex(1);
      padding-right: 10px;
    }

  }

  .date {
    display: block;
    vertical-align: middle;
    line-height: 32px;
    font-size: 20px;
  }

  .-body {
    padding: $large-padding;
  }

  .sender {
    @include flex(1);
    @include display(flex);
    text-align: left;

    input {
      @include flex(1);
    }

    label {
      margin-right: $small-padding;
      line-height: 25px;
    }
  }


  &.active {
    .noactive {
      visibility: hidden;
      opacity: 0;
    }
  }

  &.composing {
    input,
    textarea,
    .-attach {
      display: block;
      // width: 100%;
    }

    label {
      display: block;
    }

    .-mark-unread,
    .-delete {
      display: none;
    }
  }
}

.noactive {
  @include transform(translateY(-400%));
  @include fade();
  color: $light-grey;
  font-size: 50px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  margin-left: -40px;
}