.email-list {
  @include display(flex);
  @include flex-direction(column);
  background: $email-list-bg;
  max-width: 400px;
  height: 100%;
  color: $email-list-color;

  ul {
    @include flex(1);
    overflow: auto;
  }

  li {
    position: relative;
  }

  a {
    @include transition(left .3s);
    position: relative;
    z-index: 9;
    background: $email-list-bg;
    left: 0;

    &.-hovering{
      @include transition(left .3s);
      left: -35px;
    }
  }

  svg {
    @include transform(translateY(-50%));
    position: absolute;
    right: 5px;
    top: 50%;
  }

  .quickTools {
    position: absolute;
    background: $red;
    top: 0;
    width: 100%;
    height: 100%;
    fill: $white;
    cursor: pointer;
  }

  header {
    text-align: center;
    padding: $large-padding;
    background: $blue;
    color: $white;
  }
}