.email-list {
  background: $email-list-bg;
  max-width: 400px;
  color: $email-list-color;

  header {
    text-align: center;
    padding: $large-padding;
    background: $blue;
    color: $white;
  }
}