@mixin fade() {
  @include transition(opacity .3s linear);
  visibility: visible;
  opacity: 1;

  &.fadeOut {
    @include transition(
      visibility 0s .3s,
      opacity .3s linear
    );

    visibility: hidden;
    opacity: 0;
  }
}

@mixin slide($amount) {
  @include transition(margin-top .2s);
  margin-top: $amount;

  &.slideDown {
    @include transition(margin-top .2s);
    margin-top: 0;
  }
}