* {
  box-sizing: border-box;
}

script {
  display: none;
}

%height-root-control {
  height: 100%;
}

html {
  @extend %height-root-control;
  font-size: 14px;
}

body {
  @extend %height-root-control;
  background: $app-bg;
  color: $text-color;
  font-family: $font-family;
  font-weight: $normal;
  overflow: hidden;
}

header {
  font-weight: $light;
  min-height: 77px;
}

//root of app
#main {
  @extend %height-root-control;
}

.APP {
  @extend %height-root-control;

  @include media($whale) {
    @include display(flex);
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
}

a {
  color: $text-color;
  text-decoration: none;
}

input,
label {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  background: transparent;
  font-family: $font-family;

  &:focus {
    outline: none;
  }
}

textarea {
  border: 0 solid $white;
  margin: 0;
  padding: 0;
  min-width: 100%;
  resize: none;

  &:focus {
    outline: none;
  }
}