.button {
  display: inline-block;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }

  &.-mark-read {

  }

  &.-delete {
    color: $red;
  }
}

%menu-line {
  width: 25px;
  height: 2px;
  display: block;
  background: $white;
  margin: 0 auto;
}

.menu-button {
  @include transition(background .3s);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: $large-padding;
  top: 15px;
  z-index: 12;

  @include media($whale) {
    display: none;
  }

  span {
    @extend %menu-line;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &:before {
    @extend %menu-line;
    content: "";
  }

  &:after {
    @extend %menu-line;
    content: "";
  }

  .text {
    display: none;
  }

  &:hover {
    background: rgba($white, .2);
  }
}