.button {
  display: inline-block;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }

  &.-mark-unread {
    svg {
      fill: $text-color;
    }
  }

  &.-delete {
    color: $red;

    svg {
      fill: $red;
    }
  }

  .svgWrapper {
    float: right;
  }

  &.-compose {
    @include transform(translateY(-400%));
    @include transition(
      right .4s ease-out 0s,
      bottom .6s linear .5s,
      transform .3s ease-out 1.1s
    );
    position: fixed;
    bottom: 48.5%;
    right: 14em;
    background-color: $red;
    width: 70px;
    height: 70px;
    display: block;
    z-index: 999;
    text-indent: -999em;
    border-radius: 50%;
    box-shadow: 0px 2px 0px darken($red, 15%);

    &.-active {
      @include transform(translateY(0));
      bottom: 7%;
      right: 6em;
    }

    .svgWrapper {
      float: none;
      position: absolute;
      @include transform(translateX(-50%) translateY(-50%));
      top: 50%;
      left: 50%;
    }

    svg {
      fill: $white;
      width: 40px;
      height: 40px;
    }
  }

}

%menu-line {
  width: 25px;
  height: 2px;
  display: block;
  background: $white;
  margin: 0 auto;
}

.menu-button {
  @include transition(background .3s);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: $large-padding;
  top: 15px;
  z-index: 12;

  @include media($whale) {
    display: none;
  }

  span {
    @extend %menu-line;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &:before {
    @extend %menu-line;
    content: "";
  }

  &:after {
    @extend %menu-line;
    content: "";
  }

  .text {
    display: none;
  }

  &:hover {
    background: rgba($white, .2);
  }
}